node_modules/
admin-panel/admin-build/
uploads/
db.json
.env
admin-panel/.env
*.log
*.cdr
*.csv
admin-panel/*.jpg
admin-panel/*.png
admin-panel/credentials/
client_secret_*.json
gurukul-vidhyapeeth-*.json
*.json.secret
admin-panel/test-upload.txt
